<div class="theme-container theme-container--min footer-top">
  <div class="footer-contacts">

    <h2 class="article-list__title">
      Nog vragen?
    </h2>

    <div class="custom-links__row">

      <div class="custom-links__col">
        <a href="#" class="contact-button">
          <img src="{{asset 'contact-1.svg'}}" alt="">
          <span class="contact-button__heading">Stel je vraag via het</span>
          <b class="contact-button__title">Contactformulier</b>
          <span class="contact-button__text">Wij helpen je graag verder</span>
        </a>
      </div>
      <div class="custom-links__col">
        <a href="#" class="contact-button">
          <img src="{{asset 'contact-2.svg'}}" alt="">
          <span class="contact-button__heading">Stel je vraag via</span>
          <b class="contact-button__title">Facebook</b>
          <span class="contact-button__text">Wij helpen je graag verder</span>
        </a>
      </div>
      <div class="custom-links__col">
        <a href="#" class="contact-button">
          <img src="{{asset 'contact-3.svg'}}" alt="">
          <span class="contact-button__heading">Stel je vraag via het</span>
          <b class="contact-button__title">Twitter</b>
          <span class="contact-button__text">Wij helpen je graag verder</span>
        </a>
      </div>
      <div class="custom-links__col">
        <a href="#" class="contact-button">
          <img src="{{asset 'contact-4.svg'}}" alt="">
          <span class="contact-button__heading">Bezoek één van onze</span>
          <b class="contact-button__title">Lijnwinkels</b>
          <span class="contact-button__text">Wij helpen je graag verder</span>
        </a>
      </div>
      <div class="custom-links__col">
        <a href="#" class="contact-button">
          <img src="{{asset 'contact-5.svg'}}" alt="">
          <span class="contact-button__heading">Telefonisch contact?</span>
          <b class="contact-button__title">070 220 200 <span>(€0.30/min)</span></b>
          <span class="contact-button__text">Bekijk de wettelijke informatie</span>
        </a>
      </div>

    </div>

  </div>
</div>

<div class="custom-footer">
  <div class="css-1pcx78y">
    <footer role="contentinfo" id="footer" class="css-vb3flr">
      <div class="css-yp9swi">
        <div class="flex flex-wrap">
          <div class="w-full lg:w-3/4 px-2">
            <div class="flex flex-wrap">
              <div class="w-full mb-10 lg:w-1/4">
                <div class="mb-4">
                  <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/reisinfo/"><span data-testid="typography-bodyMedium" class="text-base font-medium css-1mrdp1z">Travel information</span></a>
                </div>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="routeplanner">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/routeplanner/"><span>Route planner </span></a>
                      </li>
                      <li data-testid="stops">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/haltes/"><span>Stops</span></a>
                      </li>
                      <li data-testid="lines">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/lijnen/"><span>Lines</span></a>
                      </li>
                      <li data-testid="disruptions-and-diversions">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/storingen-omleidingen/"><span>Disruptions and diversions</span></a>
                      </li>
                      <li data-testid="network-maps">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/reisinfo/netplannen/"><span>Network maps</span></a>
                      </li>
                      <li data-testid="tips-info-and-news">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/zoeken/info/"><span>Tips, info and news</span></a>
                      </li>
                      <li data-testid="app">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/ontdek-de-app/"><span>App</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="w-full mb-10 lg:w-1/4">
                <div class="mb-4">
                  <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/vervoerbewijzen/"><span data-testid="typography-bodyMedium" class="text-base font-medium css-1mrdp1z">Tickets and passes</span></a>
                </div>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="tickets">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/vervoerbewijzen/tickets/"><span>Tickets</span></a>
                      </li>
                      <li data-testid="travel-passes">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/vervoerbewijzen/abonnementen/"><span>Travel passes</span></a>
                      </li>
                      <li data-testid="discounts-and-special-rates">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/vervoerbewijzen/kortingen/"><span>Discounts and special rates</span></a>
                      </li>
                      <li data-testid="sales-points">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/vervoerbewijzen/verkooppunten/"><span>Sales points</span></a>
                      </li>
                      <li data-testid="contactless-payment">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/vervoerbewijzen/tickets/contactloos-betalen/"><span>Contactless payment</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="w-full mb-10 lg:w-1/2">
                <div class="mb-4">
                  <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/"><span data-testid="typography-bodyMedium" class="text-base font-medium css-1mrdp1z">About De Lijn</span></a>
                </div>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="futur-and-values">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/toekomst-waarden/"><span>Future and values</span></a>
                      </li>
                      <li data-testid="organistaion">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/organisatie/"><span>Organisation</span></a>
                      </li>
                      <li data-testid="projects">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/projecten/"><span>Projects</span></a>
                      </li>
                      <li data-testid="jobs">
                        <a class="inline-block  w-full" target="_self" href="https://jobs.delijn.be/"><span>Jobs</span></a>
                      </li>
                      <li data-testid="press">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/pers/"><span>Press</span></a>
                      </li>
                      <li data-testid="campaigns-and-actions">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/campagnes-en-acties/"><span>Campaigns and promotions</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="futur-and-values">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/toekomst-waarden/"><span>Future and values</span></a>
                      </li>
                      <li data-testid="organistaion">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/organisatie/"><span>Organisation</span></a>
                      </li>
                      <li data-testid="projects">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/projecten/"><span>Projects</span></a>
                      </li>
                      <li data-testid="jobs">
                        <a class="inline-block  w-full" target="_self" href="https://jobs.delijn.be/"><span>Jobs</span></a>
                      </li>
                      <li data-testid="press">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/pers/"><span>Press</span></a>
                      </li>
                      <li data-testid="campaigns-and-actions">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/over-de-lijn/campagnes-en-acties/"><span>Campaigns and promotions</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="w-full mb-10 lg:w-1/2">
                <div class="mb-4">
                  <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/"><span data-testid="typography-bodyMedium" class="text-base font-medium css-1mrdp1z">Solutions for travelers</span></a>
                </div>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="young-people">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/jongeren/"><span>Young people</span></a>
                      </li>
                      <li data-testid="seniors">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/senioren/"><span>Seniors (65+)</span></a>
                      </li>
                      <li data-testid="commuter">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/pendelaars/"><span>Commuters</span></a>
                      </li>
                      <li data-testid="groups-and-youth-movements">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/groepen-en-jeugdbewegingen/"><span>Groups and youth clubs</span></a>
                      </li>
                      <li data-testid="day-tourists">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/dagjes-toeristen/"><span>Tourists and day-trippers</span></a>
                      </li>
                      <li data-testid="persons-with-disabilities-or-accompanying-persons">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/personen-met-beperking-of-begeleider/"><span>People with a disability or accompanying person</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="young-people">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/jongeren/"><span>Young people</span></a>
                      </li>
                      <li data-testid="seniors">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/senioren/"><span>Seniors (65+)</span></a>
                      </li>
                      <li data-testid="commuter">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/pendelaars/"><span>Commuters</span></a>
                      </li>
                      <li data-testid="groups-and-youth-movements">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/groepen-en-jeugdbewegingen/"><span>Groups and youth clubs</span></a>
                      </li>
                      <li data-testid="day-tourists">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/dagjes-toeristen/"><span>Tourists and day-trippers</span></a>
                      </li>
                      <li data-testid="persons-with-disabilities-or-accompanying-persons">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/oplossingen-voor-reizigers/personen-met-beperking-of-begeleider/"><span>People with a disability or accompanying person</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-1/4">
                <div class="mb-4">
                  <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/zakelijk/"><span data-testid="typography-bodyMedium" class="text-base font-medium css-1mrdp1z">Businesses</span></a>
                </div>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="routeplanner">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/routeplanner/"><span>Route planner </span></a>
                      </li>
                      <li data-testid="stops">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/haltes/"><span>Stops</span></a>
                      </li>
                      <li data-testid="lines">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/lijnen/"><span>Lines</span></a>
                      </li>
                      <li data-testid="disruptions-and-diversions">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/storingen-omleidingen/"><span>Disruptions and diversions</span></a>
                      </li>
                      <li data-testid="network-maps">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/reisinfo/netplannen/"><span>Network maps</span></a>
                      </li>
                      <li data-testid="tips-info-and-news">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/zoeken/info/"><span>Tips, info and news</span></a>
                      </li>
                      <li data-testid="app">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/ontdek-de-app/"><span>App</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-1/4">
                <div class="mb-4">
                  <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/toegankelijkheid/"><span data-testid="typography-bodyMedium" class="text-base font-medium css-1mrdp1z">Accessibility</span></a>
                </div>
                <div class="flex flex-wrap -mx-2">
                  <div class="w-full sm:w-1/2 px-2">
                    <ul class="css-176vvg6">
                      <li data-testid="routeplanner">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/routeplanner/"><span>Route planner </span></a>
                      </li>
                      <li data-testid="stops">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/haltes/"><span>Stops</span></a>
                      </li>
                      <li data-testid="lines">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/lijnen/"><span>Lines</span></a>
                      </li>
                      <li data-testid="disruptions-and-diversions">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/storingen-omleidingen/"><span>Disruptions and diversions</span></a>
                      </li>
                      <li data-testid="network-maps">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/reisinfo/netplannen/"><span>Network maps</span></a>
                      </li>
                      <li data-testid="tips-info-and-news">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/zoeken/info/"><span>Tips, info and news</span></a>
                      </li>
                      <li data-testid="app">
                        <a class="inline-block  w-full" target="_self" href="https://www.delijn.be/en/content/ontdek-de-app/"><span>App</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg:w-1/4 mb-6 px-2 footer-btn">
            <a class="inline-block  w-full" target="_self" href="https://help.delijn.be/hc/en">
              <div class="bg-neutral-100 flex justify-between cursor-pointer rounded-md overflow-hidden transition-colors duration-300 hover:bg-primary-200">
                <div class="flex flex-col justify-end p-4 pt-3 pr-0">
                  <span data-testid="typography-bodyBold" class="text-base font-bold mb-2 css-nn5ldd">Vragen, contact & hulp</span><span data-testid="typography-bodySmallLight" class="text-sm font-light css-1lqpvhj">Wij helpen je graag verder!</span>
                </div>
                <span class="h-full"><svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_19087_249230)"><path fill-rule="evenodd" clip-rule="evenodd" d="M105 131C146.421 131 180 97.4214 180 56C180 14.5786 146.421 -19 105 -19C63.5786 -19 30 14.5786 30 56C30 97.4214 63.5786 131 105 131Z" fill="#FFF3B7"></path>
                  <mask id="path-2-inside-1_19087_249230" fill="white">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M89 37C83.4772 37 79 41.4772 79 47C79 52.5228 83.4772 57 89 57H95V86H90C84.4772 86 80 90.4772 80 96C80 101.523 84.4772 106 90 106H120C125.523 106 130 101.523 130 96C130 90.4772 125.523 86 120 86H115V47C115 41.4772 110.523 37 105 37C104.952 37 104.905 37.0003 104.857 37.001C104.81 37.0003 104.762 37 104.714 37H89Z"></path></mask>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M89 37C83.4772 37 79 41.4772 79 47C79 52.5228 83.4772 57 89 57H95V86H90C84.4772 86 80 90.4772 80 96C80 101.523 84.4772 106 90 106H120C125.523 106 130 101.523 130 96C130 90.4772 125.523 86 120 86H115V47C115 41.4772 110.523 37 105 37C104.952 37 104.905 37.0003 104.857 37.001C104.81 37.0003 104.762 37 104.714 37H89Z" fill="#FFDD00"></path>
                  <path d="M95 57H101.25V50.75H95V57ZM95 86V92.25H101.25V86H95ZM115 86H108.75V92.25H115V86ZM104.857 37.001L104.77 43.2504L104.857 43.2516L104.945 43.2504L104.857 37.001ZM85.25 47C85.25 44.9289 86.9289 43.25 89 43.25V30.75C80.0254 30.75 72.75 38.0254 72.75 47H85.25ZM89 50.75C86.9289 50.75 85.25 49.0711 85.25 47H72.75C72.75 55.9746 80.0254 63.25 89 63.25V50.75ZM95 50.75H89V63.25H95V50.75ZM88.75 57V86H101.25V57H88.75ZM95 79.75H90V92.25H95V79.75ZM90 79.75C81.0254 79.75 73.75 87.0254 73.75 96H86.25C86.25 93.9289 87.9289 92.25 90 92.25V79.75ZM73.75 96C73.75 104.975 81.0254 112.25 90 112.25V99.75C87.9289 99.75 86.25 98.0711 86.25 96H73.75ZM90 112.25H120V99.75H90V112.25ZM120 112.25C128.975 112.25 136.25 104.975 136.25 96H123.75C123.75 98.0711 122.071 99.75 120 99.75V112.25ZM136.25 96C136.25 87.0254 128.975 79.75 120 79.75V92.25C122.071 92.25 123.75 93.9289 123.75 96H136.25ZM120 79.75H115V92.25H120V79.75ZM121.25 86V47H108.75V86H121.25ZM121.25 47C121.25 38.0254 113.975 30.75 105 30.75V43.25C107.071 43.25 108.75 44.9289 108.75 47H121.25ZM105 30.75C104.923 30.75 104.846 30.7505 104.77 30.7516L104.945 43.2504C104.963 43.2501 104.981 43.25 105 43.25V30.75ZM104.714 43.25C104.733 43.25 104.751 43.2501 104.77 43.2504L104.945 30.7516C104.868 30.7505 104.791 30.75 104.714 30.75V43.25ZM89 43.25H104.714V30.75H89V43.25Z" fill="#FFDD00" mask="url(#path-2-inside-1_19087_249230)"></path><path d="M95.125 18C95.125 13.6508 98.6508 10.125 103 10.125C107.349 10.125 110.875 13.6508 110.875 18C110.875 22.3492 107.349 25.875 103 25.875C98.6508 25.875 95.125 22.3492 95.125 18Z" fill="#FFDD00" stroke="#FFDD00" stroke-width="6.25"></path></g><defs><clipPath id="clip0_19087_249230">
                  <rect width="120" height="120" fill="white"></rect></clipPath></defs></svg></span>
              </div>
            </a></div>
          <div class="flex w-full px-2">
            <div class="mr-2">2022 De Lijn - Vlaamse Vervoermaatschappij</div>
            <div class="css-1c5fhas"></div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script>
  $(window).trigger('page:loaded');

  var observer = new MutationObserver(function(mutationsList, observer) {
    mutationsList.forEach(function(mutation) {
      if (mutation.type === 'childList') {
        if (window.HelpCenter) {
          try {
            window.theme.settings = Object.assign({}, HelpCenter.internal.theming_settings);
          }
          catch (error) {
            window.theme.settings = {
              isError: true
            };
          }
          observer.disconnect();
        }
      }
    });
  });

  observer.observe(document.body, {
    attributes: false,
    childList: true,
    subtree: false
  });
</script>
